<div class="sidenav">
  <h3><%= link_to "Back", lists_path %></h3>
  <h1><%= @list.name %></h1>
  <div class="mh-25"><%= @list.photo.attached? ? cl_image_tag(@list.photo.key) : image_tag("http://source.unsplash.com/featured/?#{@list.name}&#{rand(1000)}") %>
  </div>
</div>

<div class="main container text-end">
<%= link_to "Bookmark", new_list_bookmark_path(@list), class: "btn btn-primary" %>
</div>

<div class="container">
<%# show the bookmarks that access the movies %>
  <% @list.bookmarks.each do |bookmark| %>
    <div class="card-product">
      <%= image_tag bookmark.movie.poster_url %>
      <div class="card-product-infos"> 
        <h2><%= bookmark.movie.title %></h2>
        <p><%= bookmark.movie.overview %></p>
        <p><%= "Rating: #{bookmark.movie.rating.to_f}" %></p>
        <%# <%= link_to "Delete", bookmark_path(bookmark), method: :delete, data: { confirm: "Remove this?" } do %>
        <%# <% end %>
      </div>
  <% end %>
</div>


