<div class="container mt-5">
  <h1>Add movie to list</h1>
    <%= simple_form_for [ @list, @bookmark ] do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
    <h3><%= link_to "Back", list_path(@list) %><h3>
</div>
